.header
    .header__parent
        .header__parent__title
            %div{"data-links" => "false"}
                =link_to root_path do
                    %p.title My daily life
            - if user_signed_in?
                .sign_in
                    =link_to "/favorite/#{current_user.id}",method: :get do
                        %p.favorite お気に入り
                    =link_to "/mypage/#{current_user.id}",method: :get do
                        %p.login マイページ
                    =link_to destroy_user_session_path,method: :delete do
                        %p.logout ログアウト
                .post
                    =link_to new_recommended_path do
                        %p.post__btn 投稿する
                = render "recommended/index"
            -else 
                .sign_in
                    =link_to new_user_registration_path do
                        %p.login 新規登録
                    =link_to user_session_path do
                        %p.logout ログイン
                = render "recommended/index"
                    