<%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application"%>
<ul class="nav">
<li><a href="/">ジャンル</a>
<ul>
<li><a href="/sports/"data-turbolinks="false">スポーツ</a></li>
<li><a href="/travel/"data-turbolinks="false">旅行・観光</a>
<li><a href="/chat/"data-turbolinks="false">雑談</a></li>
<li><a href="/fashion/"data-turbolinks="false">ファッション</a>
<li><a href="/entertainment/"data-turbolinks="false">エンターテイメント</a></li>
<li><a href="/life/"data-turbolinks="false">生活・文化</a>
<li><a href="/love/"data-turbolinks="false">恋愛・結婚</a></li>
<li><a href="/gourmet/"data-turbolinks="false">グルメ</a>
<li><a href="/hobby/"data-turbolinks="false">趣味・ホビー</a></li>
<li><a href="/game/"data-turbolinks="false">ゲーム</a>
</li>
</ul>