<%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application"%>
<ul class="nav">
<li><a href="/">ジャンル</a>
<ul>
<li><a href="/sports/">スポーツ</a></li>
<li><a href="/travel/">旅行・観光</a>
<li><a href="/chat/">雑談</a></li>
<li><a href="/fashion/">ファッション</a>
<li><a href="/entertainment/">エンターテイメント</a></li>
<li><a href="/life/">生活・文化</a>
<li><a href="/love/">恋愛・結婚</a></li>
<li><a href="/gourmet/">グルメ</a>
<li><a href="/hobby/">趣味・ホビー</a></li>
<li><a href="/game/">ゲーム</a>
</li>
</ul>