.wrapper
    = render "recommended/header"
    .contents
        .contents__recommended
            = image_tag "https://travel.mynavi.jp/hotelguide/wp-content/uploads/article_main_dir/186/main.jpg",size: "380x210"
            .contents__recommended__title
                %p.title  絶景の景色です！
                .contents__recommended__contributor
                    %span.contributor 投稿者
                    %p.name 西村
        .contents__recommended
        .contents__recommended
        .contents__recommended
        .contents__recommended
        .contents__recommended