.wrapper
    = render "recommended/header"
    .contents
        .contents__recommended
        .contents__recommended
        .contents__recommended
        .contents__recommended
        .contents__recommended
        .contents__recommended