.wrapper
    .header
        .header__parent
            .header__parent__title
                %p.title My recommendation 
                .sign_in
                    %p.login ログイン
                    %p.logout ログアウト
    .contents
    .footer