= render "recommended/header"
.main
    .main__image
        = image_tag "https://travel.mynavi.jp/hotelguide/wp-content/uploads/article_main_dir/186/main.jpg",size: "540x450"
    .main__title
        %h2.title2
            絶景の景色です！
    .main__time
        2019-08-13 22:24:40
    .main__name
        投稿者 西村
    .main__content
        この前主人と行って旅行に行った時に訪れた街の写真です。
        筋トレだけしても栄養が足りてないと筋肉は増えませんし、
        食事だけしても筋肉に刺激が入っていなかったら筋肉が増えません。

        ですので筋肉を増やすには筋トレも栄養も必要です。
        よくある間違えに筋トレだけしてる人、プロテインだけ飲んでる人がいますが、
        そんなことをしてても筋肉は増えません。

        筋肉はキッチンで作られるという言葉があるぐらいです。
        筋肉の栄養はタンパク質です。

        これと同じで

        ダイエットをするには筋トレだけしたら痩せるのか？

        といえばそうではありません。

        痩せる為には食事制限することです。

        実際、効果は食事８割運動２割程度です。
        食事だけでも痩せることはできますが、

        

        運動だけでは痩せることは無理です。
        それぐらい食事は重要です。

        食事８割だから食事制限は絶対必要です。
        揚げ物・お菓子・ジャンクフードなどを控えるようにする、
        夜のみ糖質カットするだけでけっこう体脂肪は減ります。

        ダイエットのポイントは焦りすぎないことです。
        体脂肪はすぐに減りません。

        肉体改造は時間がかかるといことを覚えておいてください。

        ダイエットなら３カ月～半年ぐらい
        筋肉を増やすなら１年～２年ぐらい
        は必要です。
        そして、ゴリマッチョになるには５年～１０年は筋トレを続けないといけません。
        もちろん何度も言いますように年齢や運動歴などにより個人差はあります。
        食事制限だけのダイエットだと筋肉が大幅に減ってしまいます。
        筋トレと食事の両方が必要です。
        必ず筋トレと食事の両方を行ってください。
        そうすれば３０代でも４０代でも５０代でも良い身体になれます。