<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <p><%= link_to "#{comment.user.name}さん", root_path(comment.user.id) %></p>
    <p>コメント：<%= comment.content %></p>
    <% if comment.user == current_user %>
      <p><%= link_to 'コメントを削除する', recommended_comment_path(comment.recommended_id, comment.id), class: 'delete-btn',method: :delete, remote: true %></p>
    <% end %>
  <% end %>
<% end %>