.main-post{
    min-width:1440px;
    background-color:#1f1f1f;
    &__container{
        &__box{
            margin:0 auto;
            width:1300px;
            height:125px;
            &__head{
                padding:40px 21px 39px 30px;
                font-size:30px;
                background-color: #1f1f1f;
                color:white;
                border-bottom: 1px solid #444444;
            }
        }
        &__picture{
            &__form{
                padding: 40px 0;
                width:980px;
                margin:0 auto;
                background-color: #1f1f1f;
                color:white;
                border-bottom: 1px solid #444444;
            }
        }
        &__title{
            padding:40px 0;
            width:980px;
            margin:0 auto;
            background-color:#1f1f1f;
            color:white;
            border-bottom: 1px solid #444444;
            &__content{
                margin-top:10px;
                .content{
                margin-top:5px;
                display: block;
                width: 100%;
                max-width: 100%;
                min-height: 104px;
                padding: 10px;
                border: 1px solid #ccc;
                background: #fff;
                font-size: 16px;
                line-height: 1.5;
                box-sizing:border-box;
                }
            }
        }
        &__submit{
            width:980px;
            margin:0 auto;
            background-color:#1f1f1f;
            height:200px;
            &__sub{
                width:400px;
                margin:0 auto;
                text-align:center;
            a{
                text-decoration: none;
                border: 2px solid #7a8996;
                padding: 10px 40px;
                background-color:#7a8996;
                color:white;
            }
            }
        }
    }
}
.main-buy-item__container-title__form{
    .titl{
    width: 100%;
    padding:10px 16px 8px 16px;
    margin-top:5px;
    box-sizing:border-box;
    }
}
.btn2{
    margin-top:50px;
    background-color:#b9c0e461;
    height:50px;
    width:200px;
    border: 1px solid #b9c0e461;
    color:#ffffff;
}
.main-post__container__submit__back{
    margin-top:20px;
}