// Place all the styles related to the recommended controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
    min-width: 1440px;
    // position:fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    z-index: 1;
    &__parent{     
        position:relative;   
        // background-color:black;
        // border-bottom: 1px solid #e3e3e3;
        width:100%;
        text-align:center;
        position:relative;
        background-color:black;
        &__title{
            margin:0 auto ;
            height:100px;
            width:1350px;
            .title{
                padding-top:10px;
                font-family: 'Sacramento', cursive;
                font-size:50px;
                color:#5078a9;
            }
        }
    }
    .sign_in{
       font-weight:bold;
        position:absolute;
        top:30px;
        right:120px;
        .login{
            color:#66aff3;
            padding: 8px 20px;
            font-size: 14px;
            border: 2px solid #66aff3;
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            display: inline-block;
            margin-right:20px;

        }
        .logout{
            color:#66aff3;
            padding: 8px 20px;
            font-size: 14px;
            border: 2px solid #66aff3;
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            display: inline-block;
        }
    }
}

.account-page__inner.clearfix{
    // margin-top:160px;
}
.header-bottom{
    h5{
        position:relative;
        left:630px;
        font-size: 23px;
    }
}
a{
    text-decoration: none;
}
.contents{
    border-top: 1px solid #e3e3e3;
    width:1200px;
    margin:0 auto;
    padding-top:50px;
    &__recommended{
        font-size:14px;
        background-color:white;
        width: 380px;
        min-height: 300px;
        float: left;
        margin: 10px;
        box-shadow: 0 0 10px rgba(41,41,41,0.2);
        font-family: "MS PGothic", "Osaka", Arial, sans-serif;
        &__title{
            // display:flex;
            clear:both;
            p{
                float:left;
            }
        }
        &__contributor{
            float:right;
            display:flex;
            margin-top:10px;
            margin-left:50px;
            .name{
                clear:both;
                margin-left:15px;
                padding-right:10px;
            }
            &__time{
                font-size:12px;
                float:right;
                margin-top:15px;
                padding-right:10px;
                color: #999999;
                text-align: right;
                width:230px;
            }
        }
    }
}
.title{
    font-weight:normal;
    padding-top:10px;
    padding-left:10px;
}
.post{
    font-weight:bold;
    &__btn{
    color:#66aff3;
    padding: 8px 20px;
    font-size: 14px;
    border: 2px solid #66aff3;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    margin-right:20px;
    position: absolute;
    top: 30px;
    left: 120px;
    }
}
.like-link{
    margin-left:55px;
    .like-link{
        margin:0px;
}
}
.like{
    margin-left:10px;
    color:black;
}