// Place all the styles related to the recommended controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
    min-width: 1350px;
    // position:fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    z-index: 1;
    &__parent{     
        position:relative;   
        border-bottom: 2px solid #f5f5f5;
        background-color:white;;
        width:100%;
        text-align:center;
        position:relative;
        &__title{
            margin:0 auto ;
            height:100px;
            width:1350px;
            .title{
                padding-top:10px;
                font-family: 'Sacramento', cursive;
                font-size:50px;
                color:#5078a9;
            }
        }
    }
    .sign_in{
       font-weight:bold;
        position:absolute;
        top:30px;
        right:60px;
        .login{
            color:#66aff3;
            padding: 8px 20px;
            font-size: 14px;
            border: 2px solid #66aff3;
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            display: inline-block;
            margin-right:20px;

        }
        .logout{
            color:#66aff3;
            padding: 8px 20px;
            font-size: 14px;
            border: 2px solid #66aff3;
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            display: inline-block;
        }
    }
}

.account-page__inner.clearfix{
    // margin-top:160px;
}
.header-bottom{
    h5{
        position:relative;
        left:630px;
        font-size: 23px;
    }
}
a{
    text-decoration: none;
}
.contents{
    width:1200px;
    margin:0 auto;
    margin-top:50px;
    &__recommended{
        width: 380px;
        min-height: 330px;
        float: left;
        margin: 10px;
        background-color: #000;
    }
}